In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('PDA_Dados_Cursos_Graduacao_Brasil.csv')

# Conhecendo os Dados

In [3]:
df.head()

,CODIGO_IES,NOME_IES,CATEGORIA_ADMINISTRATIVA,ORGANIZACAO_ACADEMICA,CODIGO_CURSO,NOME_CURSO,GRAU,AREA_OCDE,MODALIDADE,SITUACAO_CURSO,QT_VAGAS_AUTORIZADAS,CARGA_HORARIA,CODIGO_AREA_OCDE_CINE,AREA_OCDE_CINE,CODIGO_MUNICIPIO,MUNICIPIO,UF,REGIAO
0,4751,CENTRO UNIVERSITÁRIO UNIFATECIE,Privada com fins lucrativos,Centro Universitário,1556773,ENGENHARIA AGRONÔMICA,Bacharelado,Agronomia,Educação a Distância,Em atividade,1000,4400,301,Agronomia,3541406,Presidente Prudente,SP,SUDESTE
1,1491,CENTRO UNIVERSITÁRIO INTERNACIONAL,Privada com fins lucrativos,Centro Universitário,1186955,LETRAS,Licenciatura,Formação de professor de língua/literatura ver...,Educação a Distância,Em atividade,3000,3992,58,Formação de professor de língua/literatura ver...,2516201,Sousa,PB,NORDESTE
2,1472,CENTRO UNIVERSITÁRIO LEONARDO DA VINCI,Privada com fins lucrativos,Centro Universitário,99950,GEOGRAFIA,Licenciatura,Formação de professor de geografia,Educação a Distância,Em atividade,7620,3500,39,Formação de professor de geografia,2800308,Aracaju,SE,NORDESTE
3,221,UNIVERSIDADE CRUZEIRO DO SUL,Privada com fins lucrativos,Universidade,1467998,EDUCAÇÃO FÍSICA,Bacharelado,Educação física,Educação a Distância,Em atividade,1200,3200,328,Educação física,4113205,Lapa,PR,SUL
4,1472,CENTRO UNIVERSITÁRIO LEONARDO DA VINCI,Privada com fins lucrativos,Centro Universitário,1516788,SERVIÇOS PENAIS,Tecnológico,NaN,Educação a Distância,Em atividade,1500,1980,357,Serviços penais,2601706,Belo Jardim,PE,NORDESTE

In [4]:
df.columns

Index(['CODIGO_IES', 'NOME_IES', 'CATEGORIA_ADMINISTRATIVA',
       'ORGANIZACAO_ACADEMICA', 'CODIGO_CURSO', 'NOME_CURSO', 'GRAU',
       'AREA_OCDE', 'MODALIDADE', 'SITUACAO_CURSO', 'QT_VAGAS_AUTORIZADAS',
       'CARGA_HORARIA', 'CODIGO_AREA_OCDE_CINE', 'AREA_OCDE_CINE',
       'CODIGO_MUNICIPIO', 'MUNICIPIO', 'UF', 'REGIAO'],
      dtype='object')

In [5]:
df.shape

(902676, 18)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 902676 entries, 0 to 902675
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CODIGO_IES                902676 non-null  int64
 1   NOME_IES                  902676 non-null  object
 2   CATEGORIA_ADMINISTRATIVA  902676 non-null  object
 3   ORGANIZACAO_ACADEMICA     902676 non-null  object
 4   CODIGO_CURSO              902676 non-null  int64
 5   NOME_CURSO                902676 non-null  object
 6   GRAU                      902676 non-null  object
 7   AREA_OCDE                 680577 non-null  object
 8   MODALIDADE                902676 non-null  object
 9   SITUACAO_CURSO            902676 non-null  object
 10  QT_VAGAS_AUTORIZADAS      902676 non-null  int64
 11  CARGA_HORARIA             902676 non-null  int64
 12  CODIGO_AREA_OCDE_CINE     902649 non-null  object
 13  AREA_OCDE_CINE            902649 non-null  object
 14  CODIGO_MUNICIPIO          902676 non-null  int64
 15  MUNICIPIO                 902676 non-null  object
 16  UF                        902676 non-null  object
 17  REGIAO                    902676 non-null  object
dtypes: int64(5), object(13)
memory usage: 124.0+ MB

# Normalização das Colunas

In [48]:
IES = df[['CODIGO_IES', 'NOME_IES', 'CATEGORIA_ADMINISTRATIVA', 'ORGANIZACAO_ACADEMICA', 'REGIAO', 'CODIGO_MUNICIPIO']].drop_duplicates(subset=['CODIGO_IES']).reset_index(drop=True)

In [55]:
IES.tail()

,CODIGO_IES,NOME_IES,CATEGORIA_ADMINISTRATIVA,ORGANIZACAO_ACADEMICA,REGIAO,CODIGO_MUNICIPIO
3701,2366,FACULDADE DE SISTEMAS DE INFORMAÇÃO DE PARAÍSO...,Privada com fins lucrativos,Faculdade,NORTE,1716109
3702,20584,FACULDADE SANTANA,Privada com fins lucrativos,Faculdade,NORDESTE,2210607
3703,15410,Faculdade de Ciencias Humanas e Sociais de Ser...,Especial,Faculdade,NORDESTE,2613909
3704,22738,FACULDADE PITÁGORAS UNOPAR DE CALDAS NOVAS,Privada com fins lucrativos,Faculdade,CENTRO-OESTE,5204508
3705,22715,FACULDADE PITÁGORAS UNOPAR DE CANINDÉ,Privada com fins lucrativos,Faculdade,NORDESTE,2302800

In [50]:
CURSO = df[['CODIGO_CURSO', 'CODIGO_IES', 'NOME_CURSO', 'GRAU', 'CARGA_HORARIA', 'CODIGO_AREA_OCDE_CINE', 'MODALIDADE', 'SITUACAO_CURSO', 'QT_VAGAS_AUTORIZADAS']]
CURSO = CURSO.drop_duplicates(subset=['CODIGO_CURSO', 'CODIGO_IES']).reset_index(drop=True)

In [54]:
CURSO.tail()

,CODIGO_CURSO,CODIGO_IES,NOME_CURSO,GRAU,CARGA_HORARIA,CODIGO_AREA_OCDE_CINE,MODALIDADE,SITUACAO_CURSO,QT_VAGAS_AUTORIZADAS
86234,54772,1077,PSICOLOGIA,Licenciatura,4196,43,Educação Presencial,Extinto,210
86235,12020,569,COMUNICAÇÃO SOCIAL,Bacharelado,2700,129,Educação Presencial,Extinto,0
86236,1544956,1042,ADMINISTRAÇÃO,Bacharelado,3000,141,Educação Presencial,Em atividade,50
86237,1166015,376,LETRAS - PORTUGUÊS E INGLÊS,Licenciatura,3620,60,Educação Presencial,Extinto,270
86238,51052,1879,LETRAS - PORTUGUÊS E INGLÊS,Licenciatura,3128,60,Educação Presencial,Extinto,100

In [56]:
OCDE_CINE = df[['CODIGO_AREA_OCDE_CINE', 'AREA_OCDE_CINE']].drop_duplicates(subset=['CODIGO_AREA_OCDE_CINE']).reset_index(drop=True)

In [57]:
OCDE_CINE.tail()

    CODIGO_AREA_OCDE_CINE                      AREA_OCDE_CINE
419                   322  Saúde (programas ou cursos gerais)
420                523E11  Engenharia de controle e automação
421                481C01               Ciência da computação
422                520P02                 Produção industrial
423                145F11   Formação de professor de história

In [59]:
MUNICIPIOS = df[['CODIGO_MUNICIPIO', 'MUNICIPIO', 'UF']].drop_duplicates(subset=['CODIGO_MUNICIPIO']).reset_index(drop=True)

In [60]:
MUNICIPIOS.tail()

      CODIGO_MUNICIPIO          MUNICIPIO  UF
3434           3524907           Jambeiro  SP
3435           2924603          Pindobaçu  BA
3436           4108007      Florestópolis  PR
3437           2206704    Nazaré do Piauí  PI
3438           2204808  Ipiranga do Piauí  PI

# Carregando os Dados no DB

In [128]:
import psycopg2
from psycopg2.extensions import register_adapter, AsIs

In [62]:
conn = psycopg2.connect(
    host="localhost",
    database="postgres", 
    port=5432,
    user="postgres",
    password="99885")

In [64]:
cursor = conn.cursor()

In [126]:
conn.commit()

In [116]:
cursor.execute("""CREATE TABLE ensino.OCDE_CINE (
    CODIGO_AREA_OCDE_CINE varchar(10) PRIMARY KEY,
    AREA_OCDE_CINE VARCHAR(255));""")
conn.commit()

In [123]:
#send data to database
for i in range(len(OCDE_CINE)):
    cursor.execute("""INSERT INTO ensino.OCDE_CINE VALUES (%s, %s);""", 
                   (OCDE_CINE.iloc[i]['CODIGO_AREA_OCDE_CINE'], OCDE_CINE.iloc[i]['AREA_OCDE_CINE']))
conn.commit()

In [142]:
conn.commit()

In [143]:
cursor.execute("""CREATE TABLE ensino.MUNICIPIO (
    CODIGO_MUNICIPIO integer PRIMARY KEY,
    MUNICIPIO varchar(100),
    UF varchar(2)
    );""")
conn.commit()

In [144]:
#send data to database
for i in range(len(MUNICIPIOS)):
    cursor.execute("""INSERT INTO ensino.MUNICIPIO VALUES (%s, %s, %s);""", 
                   (int(MUNICIPIOS.iloc[i]['CODIGO_MUNICIPIO'].astype(int)), MUNICIPIOS.iloc[i]['MUNICIPIO'], MUNICIPIOS.iloc[i]['UF']))
conn.commit()

In [145]:
cursor.execute("""
SELECT * FROM ensino.MUNICIPIO;
CREATE TABLE ensino.IES (
    CODIGO_IES integer PRIMARY KEY,
    NOME_IES varchar(255),
    CATEGORIA_ADMINISTRATIVA varchar(255),
    ORGANIZACAO_ACADEMICA varchar(255),
    REGIAO varchar(255),
    CODIGO_MUNICIPIO integer,
    
    constraint FK_MUNICIPIO foreign key(CODIGO_MUNICIPIO) references ensino.MUNICIPIO(CODIGO_MUNICIPIO));""")
conn.commit()

In [146]:
#send data to database
for i in range(len(IES)):
    cursor.execute("""INSERT INTO ensino.IES VALUES (%s, %s, %s, %s, %s, %s);""", 
                   (int(IES.iloc[i]['CODIGO_IES'].astype(int)), IES.iloc[i]['NOME_IES'], IES.iloc[i]['CATEGORIA_ADMINISTRATIVA'], IES.iloc[i]['ORGANIZACAO_ACADEMICA'], IES.iloc[i]['REGIAO'], int(IES.iloc[i]['CODIGO_MUNICIPIO'].astype(int))))
conn.commit()

In [148]:
cursor.execute("""CREATE TABLE ensino.CURSOS (
        CODIGO_CURSO integer, 
        CODIGO_IES integer,
        NOME_CURSO varchar(400),
        GRAU varchar(30),
        CARGA_HORARIA integer,
        CODIGO_AREA_OCDE_CINE varchar(10),
        MODALIDADE varchar(20),
        SITUACAO_CURSO varchar(30),
        QT_VAGAS_AUTORIZADAS integer,
        
        constraint pk_CURSO primary key (CODIGO_CURSO,CODIGO_IES),
        constraint FK_IES foreign key(CODIGO_IES) references ensino.IES(CODIGO_IES),
        constraint FK_OCDE foreign key(CODIGO_AREA_OCDE_CINE) references ensino.OCDE_CINE(CODIGO_AREA_OCDE_CINE));""")
conn.commit()

In [149]:
for i in range(len(CURSO)):
    cursor.execute("""INSERT INTO ensino.CURSOS VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s);""", 
                   (int(CURSO.iloc[i]['CODIGO_CURSO'].astype(int)), int(CURSO.iloc[i]['CODIGO_IES'].astype(int)), CURSO.iloc[i]['NOME_CURSO'], CURSO.iloc[i]['GRAU'], int(CURSO.iloc[i]['CARGA_HORARIA'].astype(int)), CURSO.iloc[i]['CODIGO_AREA_OCDE_CINE'], CURSO.iloc[i]['MODALIDADE'], CURSO.iloc[i]['SITUACAO_CURSO'], int(CURSO.iloc[i]['QT_VAGAS_AUTORIZADAS'].astype(int))))
conn.commit()

# Verificar Quantitativamente a Carga de Dados

In [163]:
#quantidade de cursos
cursor.execute("""SELECT COUNT(*) FROM ensino.CURSOS;""")
print(cursor.fetchall()[0])
print(CURSO.shape)

(86239,)
(86239, 9)

In [164]:
#quantidade de IES
cursor.execute("""SELECT COUNT(*) FROM ensino.IES;""")
print(cursor.fetchall()[0])
print(IES.shape)

(3706,)
(3706, 6)

In [165]:
#quantidade de municipios
cursor.execute("""SELECT COUNT(*) FROM ensino.MUNICIPIO;""")
print(cursor.fetchall()[0])
print(MUNICIPIOS.shape)

(3439,)
(3439, 3)

In [162]:
#quantidade de OCDE_CINE
cursor.execute("""SELECT COUNT(*) FROM ensino.OCDE_CINE;""")
print(cursor.fetchall()[0])
print(OCDE_CINE.shape)

(424,)
(424, 2)

# Analise Exploratória dos Dados

In [161]:
import matplotlib.pyplot as plt